/* doc setup */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0; }

/* header and footer */
header {
  padding: 0;
  background-color: #28546C;
}

header h1 {
  display: inline-block;
  font-size: 2em;
  padding: 0.5em;
  color: white;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #28546C;
  color: white;
}

/* content */
main {
  padding: 2em;
}

p {
  margin-top: 1em;
  font-size: 1.25em;
}

.tiny {
  margin: 0;
  font-size: 1em;
}

hr {
  margin: 1em 0;
}

/* table setup */

.stocktable {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.stocktable th, .stocktable td {
  text-align: center;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 1.5em;
  width: 8%;
}

.stocktable thead th {
  padding: 1em;
}

.first-col {
  width: 20%;
  background-color: #dddddd;
}

.today-col {
  background-color: #eeeeee;
}

.today-th {
  background-color: #dddddd;
}

.stocktable h2 {
  font-size: 1em;
}

.subtitle {
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
}

/* handle small screens*/
@media (max-width: 1600px) {
  .stocktable {
    display: block;
  }
}

@media (max-width: 800px) {
  header, footer {
    font-size: 0.75em;
  }
  
  main {
    padding: 1em;
    font-size: 0.75em;
  }
   
}