body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0; }

header {
  padding: 0;
  background-color: #28546C;
}

header h1 {
  display: inline-block;
  font-size: 2em;
  padding: 0.5em;
  color: white;
}

main {
  padding: 2em;
}

p {
  margin-top: 1em;
  font-size: 1.25em;
}

.tiny {
  margin: 0;
  font-size: 1em;
}

hr {
  margin: 1em 0;
}

.stocktable {
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

.stocktable th, .stocktable td {
  text-align: center;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 1.5em;
  width: 8%;
}

.stocktable thead th {
  padding: 1em;
}

.first-col {
  width: 20%;
  background-color: #dddddd;
}

.today-col {
  background-color: #eeeeee;
}

.today-th {
  background-color: #dddddd;
}

.stocktable h2 {
  font-size: 1em;
}

.subtitle {
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #28546C;
  color: white;
}